body {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {   
    text-align: center;
    color:aqua;
}
ul{
    list-style-type: none;
}
Img{
    width: 200px;
    border-radius: 25%;
}
.hueta {
    font-style: italic;
}
.container {
    display: flex;
    gap: 5px;
}
.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.card{
    background-color: rgb(255, 0, 0);
    padding: 5px;
}